* {
    margin: 0;
    padding: 0; }

$color-facebook: hsl(195, 100%, 50%);
$color-twitter:hsl(203, 89%, 53%);
$color-instagram: linear-gradient(to right, #FDC468, #DF4996);
$color-youtube: hsl(348, 97%, 39%);
$color-up:hsl(163, 72%, 41%);
$color-down: hsl(356, 69%, 56%);
$bg-card:hsl(227, 47%, 96%);
$bg-body: hsl(0%, 0%, 100%);
$bg-hover:hsl(180, 2%, 89%);
$main-text:hsl(230, 17%, 14%);
$subtext: hsl(228, 12%, 44%);

@mixin iconInstagram {
    color: #DF4996;
    background: $color-instagram;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
@mixin cardGeneral {
    box-sizing: border-box;
    background-color: $bg-card;
    width: 270px;
    height: 250px;
    border-radius: 5px;
    padding: 30px 50px;
}
@mixin profileFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@mixin iconCard{
    font-size: 25px;
    padding-right: 8px;
}
@mixin spanCard {
    color: $subtext;
    font-size: 14px;
    font-weight: 700;
}
@mixin numberCard {
    color: $main-text;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}
@mixin followerCard {
    color: $subtext;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
}
@mixin todayIcon {
    font-size: 12px;
    padding-right: 6px;
}
@mixin todaySpan {
    font-size: 12px;
    font-weight: 700;
}
@mixin smallCardGeneral{
    box-sizing: border-box;
    background-color: $bg-card;
    width: 270px;
    height: 115px;
    border-radius: 5px;
    padding: 20px 35px;
}
@mixin smallCardFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin cardHeading {
    color:  $subtext;
    font-size: 14px;
    font-weight: 700;
    justify-self: start;
    align-self: center;
    letter-spacing: 0.2px;
}
@mixin smallCardNumber {
    color:$main-text;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}
@mixin hoverState {
    background-color: $bg-hover;
    cursor: pointer;
}

body {
  background: $bg-body;
  position: relative;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
body:before {
  margin: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 67%;
  left: 0;
  right: 0;
  background:  hsl(225, 100%, 98%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index:-1;
}
.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 80px 250px 50px 250px;
    grid-gap: 20px;
    padding: 3em 6em;
    max-width: 1200px; 
    h1{
        color: $main-text;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1px;
        grid-column: 1 / span 3;
        grid-row: 1;
        justify-self: start;
        align-self: flex-start;
    }
    .sub-header{
        color: $subtext;
        font-size: 14px;
        font-weight: 700;
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        letter-spacing: 0.2px;
    }
    .toggle{
        grid-column: 4;
        grid-row: 1;
        justify-self: end;
        align-self: baseline;
        color: hsl(230, 22%, 74%);
        display: flex;
        flex-flow: row;
        justify-content: center;
        .toggleText{
            padding-right: 10px;
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
            align-self: center;
        }
        .switch{
            padding-bottom: 10px;
            margin-left: 10px;
            background-image: linear-gradient(to right, #378EE6, #3EDA81);
            border-radius: 62em;
            width: 40px;
            height: 20px;
            border: none;
            position: relative;
            cursor: pointer;
            outline: none;
        }
        .switch:after{
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-color: white;
            position: absolute;
            top: 2px;
            bottom: 2px;
            right: 2px;
            left: unset;
            border-radius: 100px;
        }
    }
    .cards{
        grid-column: 1 / span 4;
        grid-row: 2;
        justify-self: start;
        align-self: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-row: 250px;
        grid-gap: 20px;
        .facebook{
            grid-column: 1;
            @include cardGeneral;
            border-top: 5px solid $color-facebook;
            .profile{
                @include profileFlex;
                i{
                    color: $color-facebook;
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:$color-up;
                    @include todayIcon;
                }
                span{
                    color:$color-up;
                    @include todaySpan;
                }
            }
        }
        .twitter{
            grid-column: 2;
            @include cardGeneral;
            border-top: 5px solid $color-twitter;
            .profile{
                @include profileFlex;
                i{
                    color: $color-twitter;
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:$color-twitter;
                    @include todayIcon;
                }
                span{
                    color:$color-twitter;
                    @include todaySpan;
                }
            }
        }
        .instagram{
            grid-column: 3;
            @include cardGeneral;
            border-top: 5px solid;
            border-image: $color-instagram;
            border-image-slice: 1;
            .profile{
                @include profileFlex;
                i{
                    @include iconInstagram;
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:$color-up;
                    @include todayIcon;
                }
                span{
                    color:$color-up;
                    @include todaySpan;
                }
            }
        }
        .youtube{
            grid-column: 4;
            @include cardGeneral;
            border-top: 5px solid $color-youtube;
            .profile{
                @include profileFlex;
                i{
                    color: $color-youtube;
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:$color-down;
                    @include todayIcon;
                }
                span{
                    color:$color-down;
                    @include todaySpan;
                }
            }
        }
    }
    h2{
        color:  $subtext;
        font-size: 22px;
        font-weight: 700;
        grid-column: 1;
        grid-row: 3;
        justify-self: start;
        align-self: flex-end;
        padding-top: 15px;
        letter-spacing: 0.2px;
    }
    .cardsOverview{
        grid-column: 1 / span 4;
        grid-row: 4;
        justify-self: start;
        align-self: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 115px);
        grid-gap: 20px;
        .smallCard-fa{
            grid-column: 1;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                    grid-column: 1;
                    grid-row: 1;
                }
                i{
                    color: $color-facebook;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color:$color-up;
                        @include todayIcon;
                    }
                    span{
                        color:$color-up;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-fa2{
            grid-column: 2;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: $color-facebook;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color:$color-down;
                        @include todayIcon;
                    }
                    span{
                        color: $color-down;
                        @include todaySpan;
                    }
                }
             }
         } 
         .smallCard-inst{
            grid-column: 3;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    @include iconCard;
                    @include iconInstagram;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-up;
                        @include todayIcon;
                    }
                    span{
                        color:$color-up;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-inst2{
            grid-column: 4;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    @include iconCard;
                    @include iconInstagram;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-up;
                        @include todayIcon;
                    }
                    span{
                        color:$color-up;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-tw{
            grid-column: 1;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: $color-twitter;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-up;
                        @include todayIcon;
                    }
                    span{
                        color:$color-up;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-tw2{
            grid-column: 2;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: $color-twitter;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-up;
                        @include todayIcon;
                    }
                    span{
                        color:$color-up;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-yt{
            grid-column: 3;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: $color-youtube;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-down;
                        @include todayIcon;
                    }
                    span{
                        color:$color-down;
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-yt2{
            grid-column: 4;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: $color-youtube;
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: $color-down;
                        @include todayIcon;
                    }
                    span{
                        color:$color-down;
                        @include todaySpan;
                    }
                }
             }
         }
    }




.facebook:hover{
    @include hoverState;
}
.twitter:hover{
    @include hoverState;
}
.instagram:hover{
    @include hoverState;
}
.youtube:hover{
    @include hoverState;
}
.smallCard-fa:hover{
    @include hoverState;
}
.smallCard-fa2:hover{
    @include hoverState;
}
.smallCard-inst:hover{
    @include hoverState;
}
.smallCard-inst2:hover{
    @include hoverState;
}
.smallCard-tw:hover{
    @include hoverState;
}
.smallCard-tw2:hover{
    @include hoverState;
}
.smallCard-yt:hover{
    @include hoverState;
}
.smallCard-yt2:hover{
    @include hoverState;
}



}




/*@media only screen and (max-width: 767px){}

@media (min-width: 1024px) and (max-width: 1600px){}*/