* {
    margin: 0;
    padding: 0; }

//light-mode styles
:root{
    --color-facebook: hsl(195, 100%, 50%);
    --color-twitter:hsl(203, 89%, 53%);
    --color-instagram: linear-gradient(to right, #FDC468, #DF4996);
    --color-youtube: hsl(348, 97%, 39%);
    --color-up:hsl(163, 72%, 41%);
    --color-down: hsl(356, 69%, 56%);
    --bg-card:hsl(227, 47%, 96%);
    --bg-body: hsl(0%, 0%, 100%);
    --bg-body-top: hsl(225, 100%, 98%);
    --bg-hover:hsl(180, 2%, 89%);
    --main-text:hsl(230, 17%, 14%);
    --subtext: hsl(228, 12%, 44%);
    --toggler:hsl(230, 22%, 74%);
    --mode-overview-text:hsl(228, 12%, 44%);
}
//dark-mode styles
[data-theme="dark"]{
    --color-facebook: hsl(195, 100%, 50%);
    --color-twitter:hsl(203, 89%, 53%);
    --color-instagram: linear-gradient(to right, #FDC468, #DF4996);
    --color-youtube: hsl(348, 97%, 39%);
    --color-up:hsl(163, 72%, 41%);
    --color-down: hsl(356, 69%, 56%);
    --subtext: hsl(228, 34%, 66%);
    --bg-card:hsl(228, 28%, 20%);
    --bg-body: hsl(230, 17%, 14%);
    --bg-body-top: hsl(232, 19%, 15%);
    --bg-hover:hsl(228, 27%, 33%);
    --main-text: white;
    --toggler: linear-gradient(to right, rgb(55, 142, 230), rgb(62, 218, 129));
    --mode-overview-text:white;
}

@mixin iconInstagram {
    color: #DF4996;
    background: var(--color-instagram);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
@mixin cardGeneral {
    box-sizing: border-box;
    height: 250px;
    border-radius: 5px;
    padding: 30px 50px;
}
@mixin profileFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@mixin iconCard{
    font-size: 25px;
    padding-right: 8px;
}
@mixin spanCard {
    color: var(--subtext);
    font-size: 14px;
    font-weight: 700;
}
@mixin numberCard {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    color: var(--main-text);
}
@mixin followerCard {
    color: var(--subtext);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
}
@mixin todayIcon {
    font-size: 12px;
    padding-right: 6px;
}
@mixin todaySpan {
    font-size: 12px;
    font-weight: 700;
}
@mixin smallCardGeneral{
    box-sizing: border-box;
    background-color: var(--bg-card);
    height: 115px;
    border-radius: 5px;
    padding: 20px 35px;
}
@mixin smallCardFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin cardHeading {
    color:  var(--subtext);
    font-size: 14px;
    font-weight: 700;
    justify-self: start;
    align-self: center;
    letter-spacing: 0.2px;
}
@mixin smallCardNumber {
    color:var(--main-text);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}
@mixin hoverState {
    background-color: var(--bg-hover);
    cursor: pointer;
}

body {
  background-color:var(--bg-body);
  position: relative;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
body:before {
  margin: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 67%;
  left: 0;
  right: 0;
  background: var(--bg-body-top);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index:-1;
}
.container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 80px 250px 50px 250px;
    grid-gap: 20px;
    padding: 3em 6em;
    max-width: 1200px; 
    h1{
        color: var(--main-text);
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1px;
        grid-column: 1 / span 3;
        grid-row: 1;
        justify-self: start;
        align-self: flex-start;
    }
    .sub-header{
        color: var(--subtext);
        font-size: 14px;
        font-weight: 700;
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        letter-spacing: 0.2px;
    }
    .theme-switch-wrapper {
        grid-column: 4;
        grid-row: 1;
        justify-self: end;
        align-self: baseline;
        color: var(--mode-overview-text);
        display: flex;
        flex-flow: row;
        justify-content: center;
        p {
            padding-right: 10px;
            font-weight: 700;
            font-size: 14px;
            align-self: center;
        }
      }
      .theme-switch {
        padding-bottom: 10px;
        margin-left: 10px;
        background-image: var(--toggler);
        border-radius: 62em;
        border: none;
        outline: none;
        display: inline-block;
        height: 20px;
        position: relative;
        width: 60px;
      }
      .theme-switch input {
        display:none;
      } 
      .slider {
        background-color: var(--toggler);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
      }  
      .slider:before {
        background-color: var(--bg-body-top);
        bottom: 4px;
        content: "";
        height: 22px;
        right: 4px;
        position: absolute;
        transition: .4s;
        width: 23px;
      }     
      input:checked + .slider {
        background-color: var(--toggler);
      }     
      input:checked + .slider:before {
        transform: translateX(-26px);
      }    
      .slider.round {
        border-radius: 34px;
      }     
      .slider.round:before {
        border-radius: 50%;
      }
    .cards{
        grid-column: 1 / span 4;
        grid-row: 2;
        justify-self: start;
        align-self: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-row: 250px;
        grid-gap: 20px;
        .facebook{
            grid-column: 1;
            @include cardGeneral;
            background-color: var(--bg-card);
            width: 270px;
            border-top: 5px solid var(--color-facebook);
            .profile{
                @include profileFlex;
                i{
                    color: var(--color-facebook);
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:var(--color-up);
                    @include todayIcon;
                }
                span{
                    color:var(--color-up);
                    @include todaySpan;
                }
            }
        }
        .twitter{
            grid-column: 2;
            @include cardGeneral;
            background-color: var(--bg-card);
            border-top: 5px solid var(--color-twitter);
            .profile{
                @include profileFlex;
                i{
                    color: var(--color-twitter);
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
                color: var(--main-text);
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:var(--color-up);
                    @include todayIcon;
                }
                span{
                    color:var(--color-up);
                    @include todaySpan;
                }
            }
        }
        .instagram{
            grid-column: 3;
            @include cardGeneral;
            background-color: var(--bg-card);
            border-top: 5px solid;
            border-image: var(--color-instagram);
            border-image-slice: 1;
            .profile{
                @include profileFlex;
                i{
                    @include iconInstagram;
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
                color:var(--main-text);
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:var(--color-up);
                    @include todayIcon;
                }
                span{
                    color:var(--color-up);
                    @include todaySpan;
                }
            }
        }
        .youtube{
            grid-column: 4;
            @include cardGeneral;
            background-color: var(--bg-card);
            border-top: 5px solid var(--color-youtube);
            .profile{
                @include profileFlex;
                i{
                    color: var(--color-youtube);
                    @include iconCard;
                }
                span{
                    @include spanCard;
                }
            }
            .number{
                @include numberCard;
                color: var(--main-text);
            }
            .follower{
                @include followerCard;
            }
            .today{
                @include profileFlex;
                padding-top: 30px;
                i{
                    color:var(--color-down);
                    @include todayIcon;
                }
                span{
                    color:var(--color-down);
                    @include todaySpan;
                }
            }
        }
    }
    h2{
        color:  var(--mode-overview-text);
        font-size: 22px;
        font-weight: 700;
        grid-column: 1;
        grid-row: 3;
        justify-self: start;
        align-self: flex-end;
        padding-top: 15px;
        letter-spacing: 0.2px;
    }
    .cardsOverview{
        grid-column: 1 / span 4;
        grid-row: 4;
        justify-self: start;
        align-self: flex-start;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 115px);
        grid-gap: 20px;
        .smallCard-fa{
            grid-column: 1;
            grid-row: 1;
            width: 270px;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                    grid-column: 1;
                    grid-row: 1;
                }
                i{
                    color: var(--color-facebook);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color:var(--color-up);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-up);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-fa2{
            grid-column: 2;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: var(--color-facebook);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color:var(--color-down);
                        @include todayIcon;
                    }
                    span{
                        color: var(--color-down);
                        @include todaySpan;
                    }
                }
             }
         } 
         .smallCard-inst{
            grid-column: 3;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    @include iconCard;
                    @include iconInstagram;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-up);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-up);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-inst2{
            grid-column: 4;
            grid-row: 1;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    @include iconCard;
                    @include iconInstagram;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-up);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-up);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-tw{
            grid-column: 1;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color:var(--color-twitter);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-up);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-up);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-tw2{
            grid-column: 2;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: var(--color-twitter);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-up);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-up);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-yt{
            grid-column: 3;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: var(--color-youtube);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-down);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-down);
                        @include todaySpan;
                    }
                }
             }
         }
         .smallCard-yt2{
            grid-column: 4;
            grid-row: 2;
            @include smallCardGeneral;
            .cardTop{
                @include smallCardFlex;
                .cardHeading{
                    @include cardHeading;
                }
                i{
                    color: var(--color-youtube);
                    @include iconCard;
                }
            }
            .cardBottom{
                @include smallCardFlex;
                padding-top: 18px;
                .cardNumber{
                    @include smallCardNumber;
                }
                .upDown{
                    @include profileFlex;
                    padding-top: 3px;
                    i{
                        color: var(--color-down);
                        @include todayIcon;
                    }
                    span{
                        color:var(--color-down);
                        @include todaySpan;
                    }
                }
             }
         }
    }
.facebook:hover{
    @include hoverState;
}
.twitter:hover{
    @include hoverState;
}
.instagram:hover{
    @include hoverState;
}
.youtube:hover{
    @include hoverState;
}
.smallCard-fa:hover{
    @include hoverState;
}
.smallCard-fa2:hover{
    @include hoverState;
}
.smallCard-inst:hover{
    @include hoverState;
}
.smallCard-inst2:hover{
    @include hoverState;
}
.smallCard-tw:hover{
    @include hoverState;
}
.smallCard-tw2:hover{
    @include hoverState;
}
.smallCard-yt:hover{
    @include hoverState;
}
.smallCard-yt2:hover{
    @include hoverState;
}
}
.attribution{
    color: var(--main-text);
    font-size: 15px;
    text-align: center;
    color: var(--main-text);
    a{
        color: var(--subtext);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    body:before {
        bottom: 92.5%;
      }
    .container {
        grid-template-columns: 320px;
        grid-template-rows: 100px repeat(4, 250px) 50px 1060px;
        padding: 2em 1.7em;
        max-width: 350px;
        .sub-header{
            padding-bottom: 25px;
        }
        .theme-switch-wrapper {
            grid-column: 1;
            grid-row: 1;
            justify-self: stretch;
            align-self: flex-end;
            border-top: 0.5px solid var(--subtext);
            p {
                padding-right: 170px;
                margin-top: 10px;
                color: var(--subtext);
            }
          }
          .theme-switch {
            margin-top: 10px;
          }
        .cards{
            grid-column: 1;
            grid-row: 2 / span 5;
            grid-template-columns: 320px;
            grid-template-rows: repeat(4,250px);
            .facebook{
                grid-column: 1;
                grid-row: 1;
                width: 320px;
                height: 250px;
            }
            .twitter{
                grid-column: 1;
                grid-row: 2;
                width: 320px;
                height: 250px;
            }
            .instagram{
                grid-column: 1;
                grid-row: 3;
                width: 320px;
                height: 250px;
                @include cardGeneral;
                background-color: var(--bg-card);
                border-top: 5px solid;
                border-image: var(--color-instagram);
                border-image-slice: 1;
            }
            .youtube{
                grid-column: 1;
                grid-row: 4;
                width: 320px;
                height: 250px;
            }
        }
        h2{
            font-size: 25px;
            grid-column: 1;
            grid-row: 6;
        }
        .cardsOverview{
            grid-column: 1;
            grid-row: 7;
            grid-template-columns: 320px;
            grid-template-rows: repeat(8, 115px);
            .smallCard-fa{
                grid-column: 1;
                grid-row: 1;
                width: 320px;
            }
             .smallCard-fa2{
                grid-column: 1;
                grid-row: 2;
                width: 320px;
             } 
             .smallCard-inst{
                grid-column: 1;
                grid-row: 3;
                width: 320px;
             }
             .smallCard-inst2{
                grid-column: 1;
                grid-row: 4;
                width: 320px;
             }
             .smallCard-tw{
                grid-column: 1;
                grid-row: 5;
                width: 320px;
             }
             .smallCard-tw2{
                grid-column: 1;
                grid-row: 6;
                width: 320px;
             }
             .smallCard-yt{
                grid-column: 1;
                grid-row: 7;
                width: 320px;
             }
             .smallCard-yt2{
                grid-column: 1;
                grid-row: 8;
                width: 320px;
             }
        }
}
}
