* {
  margin: 0;
  padding: 0; }

:root {
  --color-facebook: hsl(195, 100%, 50%);
  --color-twitter:hsl(203, 89%, 53%);
  --color-instagram: linear-gradient(to right, #FDC468, #DF4996);
  --color-youtube: hsl(348, 97%, 39%);
  --color-up:hsl(163, 72%, 41%);
  --color-down: hsl(356, 69%, 56%);
  --bg-card:hsl(227, 47%, 96%);
  --bg-body: hsl(0%, 0%, 100%);
  --bg-body-top: hsl(225, 100%, 98%);
  --bg-hover:hsl(180, 2%, 89%);
  --main-text:hsl(230, 17%, 14%);
  --subtext: hsl(228, 12%, 44%);
  --toggler:hsl(230, 22%, 74%);
  --mode-overview-text:hsl(228, 12%, 44%); }

[data-theme="dark"] {
  --color-facebook: hsl(195, 100%, 50%);
  --color-twitter:hsl(203, 89%, 53%);
  --color-instagram: linear-gradient(to right, #FDC468, #DF4996);
  --color-youtube: hsl(348, 97%, 39%);
  --color-up:hsl(163, 72%, 41%);
  --color-down: hsl(356, 69%, 56%);
  --subtext: hsl(228, 34%, 66%);
  --bg-card:hsl(228, 28%, 20%);
  --bg-body: hsl(230, 17%, 14%);
  --bg-body-top: hsl(232, 19%, 15%);
  --bg-hover:hsl(228, 27%, 33%);
  --main-text: white;
  --toggler: linear-gradient(to right, rgb(55, 142, 230), rgb(62, 218, 129));
  --mode-overview-text:white; }

body {
  background-color: var(--bg-body);
  position: relative;
  font-family: 'Inter', sans-serif;
  margin: 0; }

body:before {
  margin: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 67%;
  left: 0;
  right: 0;
  background: var(--bg-body-top);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: -1; }

.container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 80px 250px 50px 250px;
  grid-gap: 20px;
  padding: 3em 6em;
  max-width: 1200px; }
  .container h1 {
    color: var(--main-text);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: start;
    align-self: flex-start; }
  .container .sub-header {
    color: var(--subtext);
    font-size: 14px;
    font-weight: 700;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    letter-spacing: 0.2px; }
  .container .theme-switch-wrapper {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
    align-self: baseline;
    color: var(--mode-overview-text);
    display: flex;
    flex-flow: row;
    justify-content: center; }
    .container .theme-switch-wrapper p {
      padding-right: 10px;
      font-weight: 700;
      font-size: 14px;
      align-self: center; }
  .container .theme-switch {
    padding-bottom: 10px;
    margin-left: 10px;
    background-image: var(--toggler);
    border-radius: 62em;
    border: none;
    outline: none;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 60px; }
  .container .theme-switch input {
    display: none; }
  .container .slider {
    background-color: var(--toggler);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s; }
  .container .slider:before {
    background-color: var(--bg-body-top);
    bottom: 4px;
    content: "";
    height: 22px;
    right: 4px;
    position: absolute;
    transition: .4s;
    width: 23px; }
  .container input:checked + .slider {
    background-color: var(--toggler); }
  .container input:checked + .slider:before {
    transform: translateX(-26px); }
  .container .slider.round {
    border-radius: 34px; }
  .container .slider.round:before {
    border-radius: 50%; }
  .container .cards {
    grid-column: 1 / span 4;
    grid-row: 2;
    justify-self: start;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-row: 250px;
    grid-gap: 20px; }
    .container .cards .facebook {
      grid-column: 1;
      box-sizing: border-box;
      height: 250px;
      border-radius: 5px;
      padding: 30px 50px;
      background-color: var(--bg-card);
      width: 270px;
      border-top: 5px solid var(--color-facebook); }
      .container .cards .facebook .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        .container .cards .facebook .profile i {
          color: var(--color-facebook);
          font-size: 25px;
          padding-right: 8px; }
        .container .cards .facebook .profile span {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700; }
      .container .cards .facebook .number {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 20px;
        color: var(--main-text); }
      .container .cards .facebook .follower {
        color: var(--subtext);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center; }
      .container .cards .facebook .today {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px; }
        .container .cards .facebook .today i {
          color: var(--color-up);
          font-size: 12px;
          padding-right: 6px; }
        .container .cards .facebook .today span {
          color: var(--color-up);
          font-size: 12px;
          font-weight: 700; }
    .container .cards .twitter {
      grid-column: 2;
      box-sizing: border-box;
      height: 250px;
      border-radius: 5px;
      padding: 30px 50px;
      background-color: var(--bg-card);
      border-top: 5px solid var(--color-twitter); }
      .container .cards .twitter .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        .container .cards .twitter .profile i {
          color: var(--color-twitter);
          font-size: 25px;
          padding-right: 8px; }
        .container .cards .twitter .profile span {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700; }
      .container .cards .twitter .number {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 20px;
        color: var(--main-text);
        color: var(--main-text); }
      .container .cards .twitter .follower {
        color: var(--subtext);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center; }
      .container .cards .twitter .today {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px; }
        .container .cards .twitter .today i {
          color: var(--color-up);
          font-size: 12px;
          padding-right: 6px; }
        .container .cards .twitter .today span {
          color: var(--color-up);
          font-size: 12px;
          font-weight: 700; }
    .container .cards .instagram {
      grid-column: 3;
      box-sizing: border-box;
      height: 250px;
      border-radius: 5px;
      padding: 30px 50px;
      background-color: var(--bg-card);
      border-top: 5px solid;
      border-image: var(--color-instagram);
      border-image-slice: 1; }
      .container .cards .instagram .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        .container .cards .instagram .profile i {
          color: #DF4996;
          background: var(--color-instagram);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          font-size: 25px;
          padding-right: 8px; }
        .container .cards .instagram .profile span {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700; }
      .container .cards .instagram .number {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 20px;
        color: var(--main-text);
        color: var(--main-text); }
      .container .cards .instagram .follower {
        color: var(--subtext);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center; }
      .container .cards .instagram .today {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px; }
        .container .cards .instagram .today i {
          color: var(--color-up);
          font-size: 12px;
          padding-right: 6px; }
        .container .cards .instagram .today span {
          color: var(--color-up);
          font-size: 12px;
          font-weight: 700; }
    .container .cards .youtube {
      grid-column: 4;
      box-sizing: border-box;
      height: 250px;
      border-radius: 5px;
      padding: 30px 50px;
      background-color: var(--bg-card);
      border-top: 5px solid var(--color-youtube); }
      .container .cards .youtube .profile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        .container .cards .youtube .profile i {
          color: var(--color-youtube);
          font-size: 25px;
          padding-right: 8px; }
        .container .cards .youtube .profile span {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700; }
      .container .cards .youtube .number {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 20px;
        color: var(--main-text);
        color: var(--main-text); }
      .container .cards .youtube .follower {
        color: var(--subtext);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center; }
      .container .cards .youtube .today {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px; }
        .container .cards .youtube .today i {
          color: var(--color-down);
          font-size: 12px;
          padding-right: 6px; }
        .container .cards .youtube .today span {
          color: var(--color-down);
          font-size: 12px;
          font-weight: 700; }
  .container h2 {
    color: var(--mode-overview-text);
    font-size: 22px;
    font-weight: 700;
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    align-self: flex-end;
    padding-top: 15px;
    letter-spacing: 0.2px; }
  .container .cardsOverview {
    grid-column: 1 / span 4;
    grid-row: 4;
    justify-self: start;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 115px);
    grid-gap: 20px; }
    .container .cardsOverview .smallCard-fa {
      grid-column: 1;
      grid-row: 1;
      width: 270px;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-fa .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-fa .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px;
          grid-column: 1;
          grid-row: 1; }
        .container .cardsOverview .smallCard-fa .cardTop i {
          color: var(--color-facebook);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-fa .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-fa .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-fa .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-fa .cardBottom .upDown i {
            color: var(--color-up);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-fa .cardBottom .upDown span {
            color: var(--color-up);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-fa2 {
      grid-column: 2;
      grid-row: 1;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-fa2 .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-fa2 .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-fa2 .cardTop i {
          color: var(--color-facebook);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-fa2 .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-fa2 .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-fa2 .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-fa2 .cardBottom .upDown i {
            color: var(--color-down);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-fa2 .cardBottom .upDown span {
            color: var(--color-down);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-inst {
      grid-column: 3;
      grid-row: 1;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-inst .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-inst .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-inst .cardTop i {
          font-size: 25px;
          padding-right: 8px;
          color: #DF4996;
          background: var(--color-instagram);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent; }
      .container .cardsOverview .smallCard-inst .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-inst .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-inst .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-inst .cardBottom .upDown i {
            color: var(--color-up);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-inst .cardBottom .upDown span {
            color: var(--color-up);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-inst2 {
      grid-column: 4;
      grid-row: 1;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-inst2 .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-inst2 .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-inst2 .cardTop i {
          font-size: 25px;
          padding-right: 8px;
          color: #DF4996;
          background: var(--color-instagram);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent; }
      .container .cardsOverview .smallCard-inst2 .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-inst2 .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-inst2 .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-inst2 .cardBottom .upDown i {
            color: var(--color-up);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-inst2 .cardBottom .upDown span {
            color: var(--color-up);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-tw {
      grid-column: 1;
      grid-row: 2;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-tw .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-tw .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-tw .cardTop i {
          color: var(--color-twitter);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-tw .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-tw .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-tw .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-tw .cardBottom .upDown i {
            color: var(--color-up);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-tw .cardBottom .upDown span {
            color: var(--color-up);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-tw2 {
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-tw2 .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-tw2 .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-tw2 .cardTop i {
          color: var(--color-twitter);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-tw2 .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-tw2 .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-tw2 .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-tw2 .cardBottom .upDown i {
            color: var(--color-up);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-tw2 .cardBottom .upDown span {
            color: var(--color-up);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-yt {
      grid-column: 3;
      grid-row: 2;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-yt .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-yt .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-yt .cardTop i {
          color: var(--color-youtube);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-yt .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-yt .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-yt .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-yt .cardBottom .upDown i {
            color: var(--color-down);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-yt .cardBottom .upDown span {
            color: var(--color-down);
            font-size: 12px;
            font-weight: 700; }
    .container .cardsOverview .smallCard-yt2 {
      grid-column: 4;
      grid-row: 2;
      box-sizing: border-box;
      background-color: var(--bg-card);
      height: 115px;
      border-radius: 5px;
      padding: 20px 35px; }
      .container .cardsOverview .smallCard-yt2 .cardTop {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center; }
        .container .cardsOverview .smallCard-yt2 .cardTop .cardHeading {
          color: var(--subtext);
          font-size: 14px;
          font-weight: 700;
          justify-self: start;
          align-self: center;
          letter-spacing: 0.2px; }
        .container .cardsOverview .smallCard-yt2 .cardTop i {
          color: var(--color-youtube);
          font-size: 25px;
          padding-right: 8px; }
      .container .cardsOverview .smallCard-yt2 .cardBottom {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 18px; }
        .container .cardsOverview .smallCard-yt2 .cardBottom .cardNumber {
          color: var(--main-text);
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: left; }
        .container .cardsOverview .smallCard-yt2 .cardBottom .upDown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding-top: 3px; }
          .container .cardsOverview .smallCard-yt2 .cardBottom .upDown i {
            color: var(--color-down);
            font-size: 12px;
            padding-right: 6px; }
          .container .cardsOverview .smallCard-yt2 .cardBottom .upDown span {
            color: var(--color-down);
            font-size: 12px;
            font-weight: 700; }
  .container .facebook:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .twitter:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .instagram:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .youtube:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-fa:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-fa2:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-inst:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-inst2:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-tw:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-tw2:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-yt:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }
  .container .smallCard-yt2:hover {
    background-color: var(--bg-hover);
    cursor: pointer; }

.attribution {
  color: var(--main-text);
  font-size: 15px;
  text-align: center;
  color: var(--main-text); }
  .attribution a {
    color: var(--subtext); }

@media (min-width: 375px) and (max-width: 767px) {
  body:before {
    bottom: 92.5%; }

  .container {
    grid-template-columns: 320px;
    grid-template-rows: 100px repeat(4, 250px) 50px 1060px;
    padding: 2em 1.7em;
    max-width: 350px; }
    .container .sub-header {
      padding-bottom: 25px; }
    .container .theme-switch-wrapper {
      grid-column: 1;
      grid-row: 1;
      justify-self: stretch;
      align-self: flex-end;
      border-top: 0.5px solid var(--subtext); }
      .container .theme-switch-wrapper p {
        padding-right: 170px;
        margin-top: 10px;
        color: var(--subtext); }
    .container .theme-switch {
      margin-top: 10px; }
    .container .cards {
      grid-column: 1;
      grid-row: 2 / span 5;
      grid-template-columns: 320px;
      grid-template-rows: repeat(4, 250px); }
      .container .cards .facebook {
        grid-column: 1;
        grid-row: 1;
        width: 320px;
        height: 250px; }
      .container .cards .twitter {
        grid-column: 1;
        grid-row: 2;
        width: 320px;
        height: 250px; }
      .container .cards .instagram {
        grid-column: 1;
        grid-row: 3;
        width: 320px;
        height: 250px;
        box-sizing: border-box;
        height: 250px;
        border-radius: 5px;
        padding: 30px 50px;
        background-color: var(--bg-card);
        border-top: 5px solid;
        border-image: var(--color-instagram);
        border-image-slice: 1; }
      .container .cards .youtube {
        grid-column: 1;
        grid-row: 4;
        width: 320px;
        height: 250px; }
    .container h2 {
      font-size: 25px;
      grid-column: 1;
      grid-row: 6; }
    .container .cardsOverview {
      grid-column: 1;
      grid-row: 7;
      grid-template-columns: 320px;
      grid-template-rows: repeat(8, 115px); }
      .container .cardsOverview .smallCard-fa {
        grid-column: 1;
        grid-row: 1;
        width: 320px; }
      .container .cardsOverview .smallCard-fa2 {
        grid-column: 1;
        grid-row: 2;
        width: 320px; }
      .container .cardsOverview .smallCard-inst {
        grid-column: 1;
        grid-row: 3;
        width: 320px; }
      .container .cardsOverview .smallCard-inst2 {
        grid-column: 1;
        grid-row: 4;
        width: 320px; }
      .container .cardsOverview .smallCard-tw {
        grid-column: 1;
        grid-row: 5;
        width: 320px; }
      .container .cardsOverview .smallCard-tw2 {
        grid-column: 1;
        grid-row: 6;
        width: 320px; }
      .container .cardsOverview .smallCard-yt {
        grid-column: 1;
        grid-row: 7;
        width: 320px; }
      .container .cardsOverview .smallCard-yt2 {
        grid-column: 1;
        grid-row: 8;
        width: 320px; } }
